* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    height: 100vh;
}

body header,nav,article,div,footer{
    background-color: yellow;
    padding:10px;
    border: 2px solid gray;
    text-align: center;
}

header{
    width: 100%;
}

footer{
    width: 100%;
}

nav{
    float: left;
    width: 20%;
    height: 200px;
}

div{
    float: left;
    width: 20%;
    height: 200px;
}

article{
    float: left;
    width: 60%;
    height: 200px;
}